<div>{{fecha}}</div>

<app-login *ngIf="mostrar" (onCambiar)="cambiar($event)"></app-login>
<app-resumen *ngIf="!mostrar" [datoUsuario]="correo"></app-resumen>

<ul>
  <li *ngFor="let nombre of usuarios">
    {{nombre}}
  </li>
</ul>

<div class="container d-flex">
  <app-formulario style="flex: 1 1 100%" (onAgregar)="nuevo($event)"></app-formulario>
  <app-listado style="flex: 1 1 100%" [listado]="lista"></app-listado>
</div>


<!-- <button (click)="cambiar()">Mostrar / Ocultar</button> -->

<!-- var btn = document.querSelector("button")
btn.addEventListener("click", function(){}) -->
