<ul>
	<li><a routerLink="/" rel="noopener noreferrer">Login</a></li>
	<li><a routerLink="/homeweb" rel="">Home</a></li>
	<li><a routerLink="/usuario" rel="noopener noreferrer">Usuario</a></li>
<!-- 	<li><a routerLink="/usuario/listado" rel="noopener noreferrer">Usuario Listado</a></li> -->
	<li><a routerLink="/usuario/edicion/50" rel="noopener noreferrer">Usuario Edición</a></li>
	<li><a routerLink="/usuario/nuevo" rel="noopener noreferrer">Usuario Nuevo</a></li>
	<li><a routerLink="/cliente" rel="noopener noreferrer">Cliente</a></li>
</ul>

<router-outlet></router-outlet>
