<form #formulario="ngForm">
  <input type="text" placeholder="Nombre completo" #nombre="ngModel" ngModel name="nombre" required><br>
  <input type="text" placeholder="Correo" ngModel name="correo" required email #correo="ngModel"><br>
  <input type="password" placeholder="Contrasena" name="contrasena" ngModel #contrasena="ngModel"><br>
  <button type="button" (click)="ingresar(formulario)">Ingresar</button>
  <button type="button" (click)="cargarData()">Cargar data</button>
  <button type="button" (click)="cargarDataParcial()">Cargar data parcial</button>
  <button type="button" (click)="resetear()">Resetear</button>
</form>
